* {

    margin: 0;
}

#page {
    background-color: azure;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vh;
}

#header {
    background-color: goldenrod;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
}

p {
    align-self: center;
}

#calcBox {
    height: 600px;
    width: 400px;
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border-radius: 25px;
    justify-content: center;
}

.number {
    height: 75px;
    width: 75px;
    margin: 10px;
    border-radius: 10px;
}

.operation {
    height: 75px;
    width: 75px;
    margin: 10px;
    border-radius: 10px;
}

.punctuation {
    height: 75px;
    width: 75px;
    margin: 10px;
    border-radius: 10px;
}

#footer {
    background-color: goldenrod;
    display: flex;
    box-sizing: border-box;
    padding: 16px;
}