* {
    margin: 0;
}

#page {
    background-color: azure;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

#header {
    background-color: goldenrod;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
}

p {
    align-self: center;
}

#calcBox {
    height: 700px;
    width: 400px;
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border-radius: 25px;
    justify-content: center;
    border: 2px solid black
}

#lastEntered {
    box-sizing: border-box;
    background-color: aliceblue;
    min-height: 75px;
    min-width: 380px;
    margin: 25px 10px 0px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 60px;
    text-align: right;
    padding-right: 10px;
}

#currentEntered {
    box-sizing: border-box;
    background-color: aliceblue;
    min-height: 75px;
    min-width: 380px;
    margin: 10px 10px -10px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 60px;
    text-align: right;
    padding-right: 10px;
}

#buttonBox {
    padding-right: 10px;
    padding-left: 10px;
}

.number {
    height: 75px;
    width: 75px;
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
    border: 2px solid black;
}

.operation {
    height: 75px;
    width: 75px;
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: cadetblue;
    border: 2px solid black;
}

.punctuation {
    height: 75px;
    width: 75px;
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: forestgreen;
    border: 2px solid black;
}

#clearDelete {
    display: flex;
    justify-content: space-between;
}

.wideButton {
    height: 75px;
    width: 180px;
    border-radius: 10px;
    font-size: 24px;
    margin: 10px;
    border: 2px solid black;
}

#delete {
    background-color:indianred;
}

#clear {
    background-color: khaki;
}

#footer {
    background-color: goldenrod;
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    justify-content: center;
}