* {
    background-color: azure;
    margin: 0;
}

#page {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
}

#header {
    height: 75px;
    background-color: goldenrod;
}

#calcBox {
    height: 600px;
    width: 400px;
    background-color: gainsboro;
    display: flex;
    align-self: center;
}

#footer {
    height: 150px;
    background-color: goldenrod;
}